<!DOCTYPE html>
<html>
<head>
    <title>Додати користувача</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Додати користувача</h1>
     <form method="POST">
        <label>Прізвище</label><br>
        <input name="surname" class="field"/><br><br>
        <label>Ім'я</label><br>
        <input name="firstname" class="field"/><br><br>
        <label>Адреса</label><br>
        <input name="address" class="field"/><br><br>
        <label>Телефон</label><br>
        <input name="phone" type="number" class="field"/><br><br>
        <input type="submit" value="Надіслати" />
     </form>
     <a href="/">до списку клієнтів</a>
</body>
<html>