<!DOCTYPE html>
<html>
<head>
    <title>Додати маршрут</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Додати маршрут</h1>
     <form method="POST">
        <label>Id клієнта</label><br>
        <input name="clientid" type="number" class="field"/><br><br>
        <label>Дата</label><br>
        <input name="routedate" type="date" class="field"/><br><br>
        <label>Кількість</label><br>
        <input name="count" type="number" class="field"/><br><br>
        <label>Знижка</label><br>
        <input name="discount" type="number" class="field"/><br><br>
        <input type="submit" value="Надіслати" />
     </form>
     <a href="/1">до списку маршрутів</a>
</body>
<html>