<!DOCTYPE html>
<html>
<head>
    <title>Додати путівку</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Додати путівку</h1>
     <form method="POST">
        <label>Id маршруту</label><br>
        <input name="routesid" type="number" class="field"/><br><br>
        <label>Країна</label><br>
        <input name="country" class="field"/><br><br>
        <label>Клімат</label><br>
        <input name="climate" class="field"/><br><br>
        <label>Кількість</label><br>
        <input name="duration" type="number" class="field"/><br><br>
        <label>Готель</label><br>
        <input name="hotel" class="field"/><br><br>
        <label>Ціна</label><br>
        <input name="price" type="number" class="field"/><br><br>
        <input type="submit" value="Надіслати" />
     </form>
     <a href="/2">до списку путівок</a>
</body>
<html>